<h2 id="title">Welcome to Ember.js</h2>

<application-page as |endValue|>
  {{endValue}}
  <mo-spring endValue={{endValue}} as |val|>
    {{val}}
    <div class="demo0">
    <div class="demo0-block" style="-webkit-transform: translate3d({{val}}px, 0, 0);  transform: translate3d({{val}}px, 0px, 0px)" />
    </div>
  </mo-spring>
</application-page>
